* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    gap: 1rem;
    padding-block: 2rem;
    padding-inline: 3rem;
}

div.input_element {
    display: flex;
    border-bottom: 2px solid black;
    justify-content: space-between;
    input {
        font-size: 18px;
        outline: none;
        border: none;
        padding-inline: 0.30rem;
        padding-block: 0.45rem;
        &:focus {
            outline: none;
        }
    }
}

.event {
    display: flex;
    padding-inline: 3rem;

    content {
        display: flex;

        .inputs {
            flex: 2;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 4px;
        }
    }

    .timeline {
        flex: 1;
    }
}