@import 'tailwindcss';

@layer Components {
  .toolbar {
    @apply flex overflow-hidden bg-white border divide-x rounded-t-lg  rtl:flex-row-reverse dark:bg-gray-600 dark:border-gray-600 dark:divide-gray-700;
  }
  .toolbar_button {
    @apply px-2 py-1 font-medium text-white transition-colors duration-200  dark:hover:bg-gray-800 dark:text-black dark:hover:text-gray-100 hover:text-white rounded-md;
  }
  .bubble_menu {
    @apply absolute z-10 flex gap-1 p-1 bg-white  -top-10 -left-[5rem] rounded-lg shadow-lg  dark:border-gray-700;
  }
  .buble {
    @apply text-white;
  }
  .tiptap h1,
  .tiptap h2,
  .tiptap h3,
  .tiptap h4,
  .tiptap h5,
  .tiptap h6 {
    @apply font-bold my-3;
  }
  .tiptap h1 {
    @apply text-4xl;
  }
  .tiptap h2 {
    @apply text-3xl;
  }
  .tiptap h3 {
    @apply text-2xl;
  }
  .tiptap h4 {
    @apply text-xl;
  }
  .tiptap h5 {
    @apply text-lg;
  }
  .tiptap h6 {
    @apply text-sm;
  }
}

.editor_container {
  overflow: none;
  display: flex;
  background-color: #181818;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.toolbar {
  display: flex;
  gap: 8px;
}

.editor {
  border-radius: 0px 0px 5px 5px;
  height: 100%;
  width: 100%;
  padding: 8px;
  &:focus-visible {
    outline: none;
    border: none;
  }
}
p.is-editor-empty:first-child::before {
  color: #e2e2e280;
  content: attr(data-placeholder);
  outline: none;
  border: none;
  float: left;
  height: 0;
  pointer-events: none;
}
.tooltip-container {
  position: relative;
  display: inline-block;
}
