@import "tailwindcss";

@layer components {
  .app_header {
    @apply flex bg-[#181818] fixed items-center top-0 h-12 w-screen justify-between;
  }
  input{
    @apply rounded px-[0.5rem] py-[0.25rem] bg-[#181818] text-[#e2e2e280];
  }
  aside {
    position: fixed;
    height: 100vh;
    top: 4rem;
    left: 0;
    z-index: -1;
    
    @apply w-12 md:w-[200px];
  }
  a{
    text-decoration: none;
    color: white !important;
  }


  .content {
    border-top: 1px solid #2e2e2e90;
    border-left: 1px solid #2e2e2e90;
    border-right: 1px solid #2e2e2e90;
    
    @apply rounded-t-md p-4 md:ml-[200px] md:mr-0 bg-[#181818] mx-[60px] mt-12   pb-0 relative border-l  border-[#e2e2e2e];
  }
  .cover {
    @apply fixed top-0 w-full;
  }
}
.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
.m_border {
  border: 1px solid #e2e2e220;
}
.dragging {
  transition: none !important;
}
[role="drag-overlay"] {
  z-index: 1000;
}