@import 'tailwindcss';

html {
  color-scheme: dark;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Italic';
  src: url('/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

@font-face {
  font-family: 'AverageSans';
  src: url('/fonts/Average_Sans/AverageSans-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@layer components {
  .login_page {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    @apply bg-[#181818] my-16 grid mx-32;
  }

  .login_illustration {
    grid-column: 1 / span 2;
  }

  .primary_button {
    @apply text-sm;
    padding: 8px 12px;
    border: none;
    outline: none;
    background-color: #181818;
    color: #eee;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      display: inline;
      color: #aaa;
    }

    &:hover {
      transform: translateY(-1px);
    }
  }

  .login_form_container {
    display: flex;
  }

  .login_form {
    @apply flex flex-col gap-4 p-12;
  }

  .login_form button {
    @apply py-2 rounded-md;
  }

  input {
    @apply py-2 px-3 rounded-md;
    border: 1px solid #e2e2e235;

    &:focus {
      outline: none;
    }
  }

  .notes_page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-auto-rows: 14rem;
    gap: 1rem;
  }

  body {
    font-family: "OpenSans"
  }

  header {
    @apply fixed justify-between top-0 w-full border-b border-[#e2e2e220] h-16 flex items-center pl-32 pr-52 z-50 bg-[#181818];
  }

  * {
    user-select: none;
  }


  .toolsbar {
    @apply top-16 pt-8 h-screen border-l-[#e2e2e220] px-8 w-[88px] bg-[#181818] border-l z-10 fixed -right-24 md:right-0;

  }

  aside {
    position: fixed;
    height: 100vh;
    left: 0;
    z-index: -1;
    @apply w-12 md:w-[88px];
  }

  a {
    text-decoration: none;
    color: white !important;
  }


  .content {
    @apply rounded-t-md p-4 md:mx-[5.5rem] bg-[#181818] mt-16 pb-0 relative;
  }

  .cover {
    @apply fixed top-0 w-full;
  }
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.m_border {
  border: 1px solid #e2e2e215;
}

.dragging {
  transition: none !important;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 600ms ease;
}