::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-thumb {
  background: #e2e2e220;
  border-radius: 0.75rem;
  border: 1px solid #181818;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #e2e2e2;
  background-color: #181818;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scrollbar-gutter: stable both-edges;
}
.boxs_grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
  grid-auto-rows: 10rem;
  gap: 1rem;
}
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}
#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #181818;
  }

  a:hover {
    color: #24c8db;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}
